<div class="consultancy">

    <div class="consultancyContainer">
        <div class="textWrapper">
            <h2 data-section="consultancy" data-value="sub_title">Consultancy Services</h2>
            <p data-section="consultancy" data-value="sub_description">
                Our specialized consultancy offers expert guidance and support to ensure the safety, compliance,
                and environmental performance to streamline efficiency of maritime and port operations. <br>
                <br>
                Our in-depth knowledge of international regulations, industry standards, and best practices are the
                foundation of all our processes. We offer tailor made solutions for assessing the current situation,
                identify the root cause of problems, implement the solutions and evaluate the outcomes gearing
                continuous
                improvement cycles, while we ensure effective, efficient and cost-effective results. <br> <br>
                Depending on the customer needs we can: <br><br>
                • Create a tailor-made Management Review programme. <br>
                • Lead an audit based on an in-house audit scheme based on Marine Terminal Management and
                Self-Assessment (MTMSA) programme. <br>
                • Lead an audit based on an in-house audit scheme based on Tanker Management Self-Assessment (TMSA)
                Programme. <br>
                • Develop plans for improve safety, environmental or operational performance. <br>
                • Evaluate the effectiveness of new projects. <br>
                • Create or review business models feasibility. <br>
                • Assess different technical and business aspects of maritime or terminal operations with a holistic
                perspective. <br>
                • Emergency preparedness and response plans. <br>
                • Crisis management. <br>
                • Capabilities review. <br>
            </p>
        </div>
        <div class="imgWrapper consultancyImg" aria-description="Image taken by Deluca G. Downloaded from Pexel.com">
            <button class="serviceCtaBtn"><a href="" data-section="primary_btn" data-value="title">Download
                    Brouchure</a></button>
        </div>

        <div class="btn-wrapper">
            <a class="action-btn">
                <span class="xTop"></span>
                <span class="xBottom"></span>
            </a>
        </div>
    </div>







</div>