<div class="consultancy">

    <div class="consultancyContainer">
        <div class="textWrapper">
            <h2 data-section="consultancy" data-value="sub_title">Consultancy Services</h2>
            <p data-section="consultancy" data-value="sub_description">Our specialized consultancy involves offering
                expert guidance and support to ensure the
                safety, compliance, and efficiency of maritime operations. These consultancies possess
                in-depth knowledge of international regulations, industry standards, and best practices
                related to marine safety, risk management, and quality assurance. They work closely with
                shipping companies, offshore operators, and maritime organizations to assess and
                mitigate risks associated with vessel operations, maintenance, and crew management. From
                conducting audits and inspections to developing tailored risk management strategies and
                providing training programs, specialized Marine Assurance consultants play a crucial
                role in safeguarding assets, protecting the environment, and promoting sustainable
                practices within the maritime industry. Their expertise helps clients navigate complex
                regulatory frameworks, optimize performance, and uphold the highest standards of safety
                and operational excellence at sea.
            </p>
        </div>
        <div class="imgWrapper consultancyImg" aria-description="Image taken by Deluca G. Downloaded from Pexel.com">
            <button class="serviceCtaBtn"><a href="" data-section="primary_btn" data-value="title">Download
                    Brouchure</a></button>
        </div>

        <div class="btn-wrapper">
            <a class="action-btn">
                <span class="xTop"></span>
                <span class="xBottom"></span>
            </a>
        </div>
    </div>







</div>