<div class="container cookiesTermsPrivacyPage">
    <h2 data-section="cookie_settings" data-value="title">Cookie Settings</h2>
    <p data-section="cookie_settings" data-value="description">
        Cookies Conf.

        We use necessary cookies to make our site work. We and our partners would also like to use optional,
        anonymous, analytical cookies to help us improve the site. No cookies will be saved unless you enable
        them by clicking on the “Accept all” button. Once you have made your decision,
        a cookie will be set on your device to remember your preferences.

        Storing
        We store your settings for 30 days. You can change your mind at any time by clicking on the
        “Manage cookies” tab on the bottom of this page or "Cookie Settings" at the botttom of this website.


        Necessaries: These cookies are strictly necessary for the proper functioning of the site and the
        proper execution of the services you request, as well as to store your consent for other categories
        of cookies. You can disable them by changing your browser settings, but this may affect how the site
        functions.
        Analytics: These cookies are installed by Google Analytics. They are used to improve our website by
        collecting and reporting information on how you use it. The cookies collect information in a way that
        does not directly identify anyone.
        Targeting/Advertising: Advertising cookies track activity across websites in order to understand
        visitor interest and to deliver tailored advertising content. Examples include cookies used for
        follow-up marketing or advertising based on the visitor's interests.
    </p>

    <div>
        <h3 data-section="cookies" data-value="title">Manage Cookies</h3>
        <p data-section="cookies" data-value="description">This website uses cookies to ensure you get the best
            experience on our website. Please select your
            preference:</p>

        <form id="cookieForm">
            <div>
                <input type="radio" id="accept" name="cookiePreference" value="accept" required>
                <label for="accept" data-section="cookies" data-value="accept">Accept All</label><br>
                <input type="radio" id="reject" name="cookiePreference" value="reject" required>
                <label for="reject" data-section="cookies" data-value="reject">Reject All</label><br><br>
            </div>
            <div>
                <button type="submit" data-section="cookies" data-value="save"><a>Save Preferences</a></button>
            </div>
        </form>
    </div>

    <div>
        <button class="btn-secondary termsCloseBtn"><a href="#home" data-section="cookie_settings"
                data-value="close_btn">Close</a></button>
    </div>
</div>