<div class="management">

    <div class="managementContainer">
        <div class="textWrapper managementText">
            <h2 data-section="management" data-value="sub_title">Enhancing Management</h2>
            <p data-section="management" data-value="sub_description">
                At MAIC, we specialize in providing comprehensive solutions tailored to the
                specific needs of maritime businesses worldwide. <br> <br>
                Our team of experts brings extensive industry knowledge and experience to every
                project, providing high level of support and guidance to the top management.
                Whether it is aligning processes with the best practices, optimizing operational efficiency,
                enhancing safety culture, or promoting sustainability initiatives, MAIC is committed to helping
                our clients to achieve their objectives. <br><br>
                With a focus on innovation and continuous improvement, we empower organizations to navigate the
                complexities of the maritime industry with confidence and success. Deploying our expertise and
                transformative solutions that propel your business forward on the waves of success.

            </p>
            <button class="serviceCtaBtn managementCtaBtn"><a href="" data-section="primary_btn"
                    data-value="title">Download Brouchure</a></button>
        </div>
        <div class="imgWrapper managementImg" aria-description="Image taken by Deluca G. Downloaded from Pexel.com">

        </div>

        <div class="btn-wrapper">
            <a class="action-btn" href="#services">
                <span class="xTop"></span>
                <span class="xBottom"></span>
            </a>
        </div>
    </div>

</div>