<div class="management">

    <div class="managementContainer">
        <div class="textWrapper managementText">
            <h2 data-section="management" data-value="sub_title">Enhancing Management</h2>
            <p data-section="management" data-value="sub_description">Our course provides participants with the advanced
                knowledge and skills needed to
                effectively lead and oversee assurance activities within maritime operations. Covering
                topics such as risk management, regulatory compliance, quality assurance, and safety
                protocols, this course equips managers with the tools to optimize operational
                performance while mitigating potential risks and ensuring adherence to industry
                standards. Participants learn strategic planning techniques, best practices in
                operational management, and methods for fostering a culture of safety and compliance
                within their organizations. Through case studies, practical exercises, and interactive
                discussions, participants gain insights into industry trends, emerging technologies, and
                regulatory changes, enabling them to make informed decisions and drive continuous
                improvement initiatives within the marine assurance sector.
            </p>
            <button class="serviceCtaBtn managementCtaBtn"><a href="" data-section="primary_btn"
                    data-value="title">Download Brouchure</a></button>
        </div>
        <div class="imgWrapper managementImg" aria-description="Image taken by Deluca G. Downloaded from Pexel.com">

        </div>

        <div class="btn-wrapper">
            <a class="action-btn" href="#services">
                <span class="xTop"></span>
                <span class="xBottom"></span>
            </a>
        </div>
    </div>

</div>