<div class="training">
    <div class=" trainingContainer">
        <div class="textWrapper">
            <h2 data-section="training" data-value="sub_title">Training Services</h2>

            <p data-section="training" data-value="sub_description">
                Through interactive workshops, simulation exercises, and hands-on training sessions,
                participants gain practical skills, knowledge, and confidence to effectively navigate
                challenges and mitigate risks in their day-to-day operations. By investing in training
                companies and organizations can enhance their safety and working culture,
                improve performance, and ensure compliance with industry standards and regulations. <br> <br>
                Comprehensive training services are tailored to the specific needs of shipping and terminal operators.
                These training programs cover a wide range of topics essential for promoting safety, compliance, and
                operational efficiency in the marine industry. <br><br>
                Courses may include: <br> <br>
                • Vetting and Marine Assurance management. <br>
                • Ship shore-interface management and operations. <br>
                • Ship to ship operations. <br>
                • Risk management. <br>
                • The application of safety procedures. <br>
                • Emergency preparedness and response. <br><br>
                Our courses provide participants with the advanced knowledge and skills needed to effectively lead and
                oversee assurance activities within maritime operations. this course equips managers with the
                tools to optimize operational performance while mitigating potential risks and ensuring adherence to
                industry standards. Participants learn strategic planning techniques, best practices in operational
                management, and methods for fostering a culture of safety and compliance within their organizations.
            </p>
        </div>
        <div class="imgWrapper trainingImg" aria-description="Image taken by Korie Jenkins. Downloaded from Pexel.com">
            <button class="serviceCtaBtn"><a href="" data-section="primary_btn" data-value="title">Download
                    Brouchure</a></button>
        </div>

        <div class="btn-wrapper">
            <a class="action-btn" href="#services">
                <span class="xTop"></span>
                <span class="xBottom"></span>
            </a>
        </div>
    </div>

</div>