.contactHeadLine{
    padding-top: 10%;
    padding-bottom: 5%;
}


.option{ 
    padding: 20% 0;     
    a{
        font-size: var(--fs-xs);
        color: var(--bg-blue);
        text-decoration: underline;
    }
}

.contactIconContainer{
    padding-bottom: 3%;
}

.contactIcon{
    width: 3rem;
    fill: var(--bg-blue)
}