.contactHeadLine{
    padding-bottom: 10%;
}

.option{
    margin-bottom: 10%;

    h3{
        padding-bottom: 3%;
    }
    p{
        margin-bottom:5%;
    }
    a{
        font-size: var(--fs-xxs);
    }
}

.contactIconContainer{
    padding-bottom: 3%;
}

.contactIcon{
    width: 4rem;
    fill: var(--bg-blue)
}

@media all and (min-width:800px){
    .option{ width:33%;}
    .contactOptions{
        display: flex;
        gap: 5rem;
    }
}

@media all and (min-width:930px){
    #contact{
        padding-top: 10%;
    }
}