
#home{ 
  height: 100vh;
}

.hero{
    height: 100%;
    display: grid;
    align-content: end;
    margin: auto;    
}



.heroHeader{
    text-transform: uppercase;
    text-wrap: wrap;
    line-height: 1.3;
}

.render_root{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh
}






 





