

#home{
   display:flex;
   padding-top: 60%;
    
}

.hero{
    align-self: center;      
    /* height: 100vh; */
}

@media all and (min-width:900px){
    #home{
        padding-top: 13%;
    }
    .hero{
        width: 60%;
    }
}

.heroHeader{
    align-self: center;   
    
 }
 .heroParagraph{
    padding-top:5%;    
 }

.ctaBtn{
   
    margin-top:10%;
    
   
}

/* @media all and ( min-width: 500px){
    .ctaBtn{
        width: clamp(25rem ,30vw + 1rem , 40rem)
    }

} */
@media all and ( min-width: 900px){
    .ctaBtn{
        width: 50%;
    }
}
@media all and ( min-width: 1300px){
    .ctaBtn{
        width: 30%;
    }
}




