.navContainer {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: fit-content; /*100vh when open value*/
    padding:3%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--bg-white);   
    
}

@media all and (min-width: 900px){
    .navContainer{
       
        align-items: center;
    }
}

#logoSvg{
    width: clamp(18rem , 10vw +1rem, 36rem);
    height: clamp(9rem, 10vw + 1rem, 12rem); 
    fill:var(--bg-blue);
}

.navBar{
    width: 100vw;
    background-color: var(--bg-white);
    position:fixed;
    top:10%;
    left:0;
}

.navBarItems{
    display: none;
    padding-top: 50%;
                    
}
.navBarItem{
    margin-left: 3%;
    font-weight: 600;
    line-height: 0.8;
    font-size: var(--fs-md);
    color:var(--bg-blue);
}  

@media all and (min-width: 900px){
    .navBar{
        position:unset;
        width: 60vw;
    }

    .navBarItems{
        display: flex;
        justify-content: space-between;
        margin-left: 5rem;
        padding-top: 0%;
    }
    .navBarItem{
        font-size: var(--fs-xxs);
        margin-left: 0%;
    }
}

.navMenu{
    background-color: transparent;
    cursor: pointer;
    justify-self: flex-start;
    .bar{
        width: 3.5rem;
        height: .5rem;
        margin-top: 10%;
        background-color: var(--bg-blue);
    }
}

.navMenuFooter{
    display: none;
    margin-left: 3%;
   font-size: var(--fs-xs);
   color:var(--bg-blue); 
}

@media all and ( min-width:900px){
.navMenu{ display: none;}
}