.navContainer {
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: fit-content; 
    display:flex; 
    justify-content: space-between; 
    z-index: 1; 
} 

.logoBtnContainer{
    width: 75%;
}

.logoBtn {
    z-index: 1;
}

#logoSvg{ 
    width: 25rem;
    fill:var(--bg-navy-blue);
}



.navBar{
    display: none;    
}
.navBarOpen{
  opacity:0;
  display: flex;
  flex-wrap:wrap;
  align-items: end;
  align-content: end;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 0;
  background-color: var(--bg-yellow-white);
  top: 0;
  left:0;
  padding:3%;
  gap:5%;  
}



/* .navBarItems{  
   width: 100%;              
} */
.navBarItem{
    font-weight: 700;
    font-size: var(--fs-lg);
    color:var(--bg-venetian-red);    
}

.langSelectorContainer{
    
    display: flex;
    justify-content: flex-end;
    }

.langSelector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    width: 4rem;
    height:4rem;
     div{      
        width: 4rem;
        height: 2rem;
     
    }
}
.esp , .eng{
    font-size: var(--fs-xxs);
}



.language_selected{
    background-color: var(--bg-navy-blue);
    a{
        color: var(--bg-white);
    }
}






.burgerMenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    width:4rem;
    height: 4rem;   
    background-color: transparent;
    z-index: 1;    
    .bar{
        width: 3rem;
        height: .5rem;
        margin-top: 6%;
        border-radius: 99999px;
        background-color: var(--bg-blue);
        pointer-events: none;
        transform-origin: 18%;
    }
}


.socialIcon{
    width:3rem;
    aspect-ratio: 1/1;
    fill:var(--bg-navy-blue);
}

.bottomLinks{
    display: grid; 
    grid-template-columns: 1fr 1fr;  
    gap: 5%;
    min-width: 400px;
    & .partners{
        width: fit-content;
        grid-row: span 2;
    }

   & .copy{
    align-self: end;
    p{
        font-family: "Figtree", sans-serif;
        font-size: var(--fs-md);
        font-weight: 700; 
            
    }
   }
}


