.servicesHeadLine{
    padding-top: 3%;
    margin-bottom: 10%;
    & h2{
        padding-bottom: 3%;
    }
    & p{

        padding-bottom: 3%;
    }
}
.svgContainer{
    height: 20vh;
    padding: 15%;
}



.iconService{
    width: 6rem;
    aspect-ratio: 1/1;
    fill:var(--bg-blue);
}


.service{
    display:flex;
    flex-direction: column;
    align-items: center;
    h3, p, button{
        margin-bottom: 10%;
    }

}

@media all and (min-width:800px){
    .servicesHeadLine{
        display:flex;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .servicesHeadLine > h2{
        align-self: center;
    }
    .servicesHeadLine > p{
        text-align: center;
    }
    .service > p{
        text-align: center;
    }
}

@media all and (min-width: 930px){
    #services{
        padding-top: 8%;
    }

    .svgContainer{
        height: fit-content;
        padding: 5%;
    }
    
    
    
    .service > h3 {
            margin-bottom: 5%;         
    } 
    .service > p {
            margin-bottom: 5%;         
    } 
    .service > button {
            margin-bottom: 5%;         
    } 
    
}

@media all and (min-width: 1500px){
.servicesFlexContainer{
        display:flex;
        gap: 13rem;
    }
}