
.servicesBg{
    position: fixed;
    bottom:0;
    left:0;
    width: 100vw;
    height: 0vh;
    background-color: var(--bg-yellow-white);
}

.svgContainer{
    /* height: 20vh; */
    padding: 3%;
}



.iconService{
    width: 4rem;
    aspect-ratio: 1/1;
    fill:var(--bg-blue);
}

.servicesHeadLine{
    height: 100vh;
    padding-top: 50vh;
}


.service{
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.training , .consultancy, .management{
    padding: 0 3%;
}

.trainingContainer, .consultancyContainer, .managementContainer{
    width: 94vw;
    height: fit-content;
    display:flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    gap:3%;    
}

.managementContainer{
    position:relative;
}
.textWrapper{
    /* width: 50%; */
    order:2;
    h2{
        font-size: var(--fs-lg);
        font-weight: 600;
        text-transform: uppercase;
        line-height: 0.8;
        color:var(--bg-venetian-red)
    }
    p{
        color:var(--bg-venetian-red) 
    }
}

.imgWrapper{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-color: var(--bg-black);
    background-position: center;
    background-blend-mode: luminosity;
    order:2;    
}

.managementText{
    padding: 3%;
    position:absolute;
    bottom:0;
    left:0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-self: self-end;
}





.trainingImg{
    background-image: url(./assets/korie-jenkins.webp);

}

.consultancyImg{
    background-image: url(./assets/deluca-g.webp);
   
}

.managementImg{

    background-image: url(./assets/rian-daud.webp);
}


.serviceCtaBtn{
    position:absolute;
    bottom: 5%;
    right:5%;
}

.managementCtaBtn{
    position:unset;
}

.btn-wrapper{
    align-self: self-start;
    padding-block:3%; 
    order:1;   
}

.action-btn{
    position:relative;
    display: inline-block;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    
   
    span{
        position:absolute;
        display: inline-block;
        width:6rem;
        height: 0.2rem;
        background-color: var(--bg-venetian-red);
        transform-origin: 50%;
        top: 50%;
        pointer-events: none;
    }
}

.xTop{
    transform: rotate(-45deg);    
}
.xBottom{
    transform: rotate(45deg);    
}
