* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.hidden{
    display:none;
}

.hide{
    opacity: 0;
}

::-webkit-scrollbar{
    display: none;
}

/*LENIS CSS 

/* html.lenis, html.lenis body {
    height: auto;
  } 
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
   .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  } */

:root{
    --fs-xxl:10rem;   
    --fs-xl:7rem;   
    --fs-lg:5rem;
    --fs-md:3.5rem;
    --fs-sm:2.3rem;
    --fs-xs: 1.8rem;
    --fs-xxs:1.3rem;
    --bg-black:#000000;
    --bg-extra-dark-blue:#12274D;
    --bg-dark-blue:#1A2D4E;    
    --bg-navy-blue:#132257;    
    --bg-blue:#203963;
    --bg-lightBlue:#607496;
    --bg-red:#ED2F11;
    --bg-venetian-red:#cd1409;
    --bg-blood-red:#720000;
    --bg-light-red:#f57966;
    --bg-white:#E4E4E4;
    --bg-yellow-white:#EEEDDD;
    --bg-complementary-1:#B5A688;
    --bg-complementary-2:#F5CD7A;
    --bg-complementary-3:#858FA0;
    --bg-complementary-4:#756E5E;
    --bg-complementary-5:#7AF5F5;
    --bg-analog-1:#7A81F5;
}

 @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&&family=Figtree:ital,wght@0,300..900;1,300..900&family=Passion+One:wght@400;700;900&display=swap');  

body{
    background-color:var(--bg-yellow-white);
}
html{
    font-size: 62.5%;
    height: -webkit-fill-available;
    /* scroll-snap-type: y proximity; */
    /* scroll-padding-top: 5%; */
    font-family: Arial, Helvetica, sans-serif;
}


h1, h2, h3, p, a {
    color: var(--bg-navy-blue);
}

h1{    
    font-size: var(--fs-md);
    /* font-family: "Passion One", sans-serif; */
    /* font-family:'Kanit', sans-serif; */
    line-height: 0.8;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 9px;
}

h2{
    font-size: var(--fs-md);
    font-weight: 900;
}

h3{
    font-size: var(--fs-sm);
    font-weight: 900;
}

p{
    font-size: var(--fs-xs);
    margin: 5% 0% 5% 0%;
    text-align: justify;
    /* backdrop-filter: blur(3.5px); */
}

a{
    font-family: "Figtree", sans-serif;
    font-style: normal;         
    font-size: var(--fs-xs);
    text-decoration: none;
    color:var(--bg-white);
}

button{
    border: none;
    width:100%;
    height: 4rem;
    background-color: var(--bg-venetian-red); 
}

.btn-secondary{
    background-color: transparent;
    border: 2px solid var(--bg-blue);
    
    a{
        color:var(--bg-blue);
        font-weight: 700;
    }   
}



main {
    width: 100vw;
    /* background-color: #E4E4E4; */
    
    /* background-image: url(./assets/bgHero.jpg);
    background-size: cover; */
}
/* @media all and (min-width: 600px)
{main {padding: 3%;}} */
section {
    scroll-snap-align: start;
    width: 100%;    
}

.container {
   padding:3%; 
   
}

.flx{
    display: flex;
    justify-content: space-between;
}






